.main-wrapper {
  padding: 0px 40px;
  display: flex;
  flex-wrap: wrap;
}

.mat-card_wrapper {
  margin: 10px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  height: 350px;
}

.mat-card-title_wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.mat-card-content_wrapper {
  text-align: center;
  height: 100%;
}

.mat-card-footer_wrapper {
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 5px;
}
