<mat-toolbar color="primary" class="menu-wrapper">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="'/Music'" mat-menu-item>
      <mat-icon class="fas fa-music"></mat-icon>
      <span>Music</span>
    </button>
    <button [routerLink]="'/Movies'" mat-menu-item>
      <mat-icon class="fas fa-video"></mat-icon>
      <span>Movies</span>
    </button>
    <button [routerLink]="'/News'" mat-menu-item>
      <mat-icon class="far fa-newspaper"></mat-icon>
      <span>Newspaper</span>
    </button>
  </mat-menu>


  <span class="hello-all">
    Welcome to my app (Angular  <i class="fab fa-angular"></i> + NEST.JS  <i class="fas fa-database"></i>)
  </span>
  <button [routerLink]="'/admin/login'" mat-button class="my-style">Enter as Admin</button>
</mat-toolbar>
<app-navigation [routes]="arrOfRoutes"></app-navigation>

<router-outlet></router-outlet>
