<mat-toolbar color="primary" class="menu-wrapper">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon class="fas fa-music"></mat-icon>
      <span [routerLink]="'/music'">Music</span>
    </button>
    <button mat-menu-item>
      <mat-icon class="fas fa-video"></mat-icon>
      <span [routerLink]="'/movies'">Movies</span>
    </button>
    <button mat-menu-item>
      <mat-icon class="far fa-newspaper"></mat-icon>
      <span [routerLink]="'/news'">Newspaper</span>
    </button>
  </mat-menu>

  <span class="hello-all">
    Welcome to my app (Angular  <i class="fab fa-angular"></i> + NEST.JS  <i class="fas fa-database"></i>)
  </span>

</mat-toolbar>

<router-outlet></router-outlet>
