<form class="example-form" [formGroup]="form" (ngSubmit)="registration()">
  <h2>Registration</h2>

  <div class="form-control">
    <mat-form-field class="form-field_wrapper" appearance="outline">
      <mat-label>Enter your name</mat-label>
      <input [formControl]="name" matInput placeholder="Anton...">
      <mat-icon matSuffix class="fas fa-signature"></mat-icon>
      <mat-hint>name</mat-hint>
    </mat-form-field>
  </div>

  <div class="form-control">
    <mat-form-field class="form-field_wrapper" appearance="outline">
      <mat-label>Enter your second name</mat-label>
      <input [formControl]="secondName" matInput placeholder="Asipenka...">
      <mat-icon matSuffix class="fas fa-id-badge"></mat-icon>
      <mat-hint>second name</mat-hint>
    </mat-form-field>
  </div>

  <div class="form-control">
    <mat-form-field class="form-field_wrapper" appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input [formControl]="email" matInput placeholder="aasipenka@demo.com">
      <mat-icon matSuffix class="fas fa-envelope"></mat-icon>
      <mat-hint>login</mat-hint>
    </mat-form-field>
  </div>

  <div class="form-control">
    <mat-form-field class="form-field_wrapper" appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input [formControl]="password" matInput placeholder="QWERTY12345...">
      <mat-icon matSuffix class="fas fa-key"></mat-icon>
      <mat-hint>password</mat-hint>
    </mat-form-field>
  </div>


  <div class="btn-wrapper">
    <button
      mat-raised-button
      type="submit"
      class="btn"
      [disabled]="form.invalid || submitted">
      Login
    </button>
  </div>

  <div class="reg_btn-wrapper" >
    <a class="reg_btn" [routerLink]="'/layout/login'" href="#">Login <mat-icon matSuffix class="fas fa-sign-in-alt"></mat-icon></a>
  </div>
</form>
